/* Стандартні стилі */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2,
h3 {
    color: #4e75ff;
    text-align: center;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 10px 0;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
    padding-left: 10px;
    position: relative;
}

ul li::before {
    content: '•';
    position: absolute;
    left: 0;
    color: #4e75ff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    padding: 10px;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #4e75ff;
}

main {
    background-color: #fff;
    padding: 40px 0;
    border-radius: 8px;
    margin-bottom: 40px;
}

.job,
.container {
    margin-bottom: 40px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

footer a {
    color: #4e75ff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #fff;
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }
}